  nstbrowser:
    api_key: "nstbrowser_api_key"
    host: "localhost"
    port: 8848
    protocol: "http"
  verification:
    endpoint: "http://challenge_server:8000/api/v1/verify"
    api_key: "super_secure_api_key"
    startup_url: "http://challenge_server:8000/start"
    extra:
      platform: "Linux"
      autoClose: false
      headless: true
      incognito: true
      fingerprintRandomness: true
      fingerprint:
        flags:
          screen: "Custom"
        userAgent: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/134.0.6998.45 Safari/537.36"
        deviceMemory: 8
        hardwareConcurrency: 16
        screen:
          width: 1280
          height: 1024
      args:
        "--disable-backgrounding-occluded-windows": true
        "--disable-blink-features": "AutomationControlled"
        "--no-sandbox": true
        "--disable-infobars": true
        "--user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/134.0.6998.45 Safari/537.36"
